.expe-content{
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 70px;
}

accordion-group::ng-deep .btn-link{
  color: white;
}

accordion-group::ng-deep .card-header{
  background-color: #007bff;
}
