<div class="container text-center">
  <button (click)="DownloadCV()" class="btn btn-primary mb-5 shadow border">Télécharger le CV</button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">

      <!-- Expériences -->
      <accordion-group [(isOpen)]="isExperienceOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">Expériences</div>
          <div style="width: 10.95px;">
            <div *ngIf="!isExperienceOpen" style="color: white;">></div>
            <div *ngIf="isExperienceOpen" style="color: white;">v</div>
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Titre de mon job</h2>
          <h3 class="text-primary">Nom de l'entreprise</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, provident.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, provident.</li>
          </ul>
        </div>
      </accordion-group>

      <!-- Etudes -->
      <accordion-group [(isOpen)]="isEtudesOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">Etudes</div>
          <div style="width: 10.95px;">
            <div *ngIf="!isEtudesOpen" style="color: white;">></div>
            <div *ngIf="isEtudesOpen" style="color: white;">v</div>
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Niveau et titre étude</h2>
          <h3 class="text-primary">Nom ecole + lieu</h3>
          <ul>
            <li>Année d'études</li>
            <li>Résumé des compétences étudiées</li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">Niveau et titre étude</h2>
          <h3 class="text-primary">Nom ecole + lieu</h3>
          <ul>
            <li>Année d'études</li>
            <li>Résumé des compétences étudiées</li>
          </ul>
        </div>
      </accordion-group>

      <!-- Dîplomes-->
      <accordion-group  [(isOpen)]="isDilpomesOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">Diplômes</div>
          <div style="width: 10.95px;">
            <div *ngIf="!isDilpomesOpen" style="color: white;">></div>
            <div *ngIf="isDilpomesOpen" style="color: white;">v</div>
          </div>
        </button>
        <div style="text-align: left">
          <h3 class="text-primary">Nom diplôme avec referentiel</h3>
          <ul>
            <li>N° referentiel plus equivalent niveau</li>
            <li>Obtenu le ....</li>
          </ul>
        </div>
        <div style="text-align: left">
          <h3 class="text-primary">Nom diplôme avec referentiel</h3>
          <ul>
            <li>N° referentiel plus equivalent niveau</li>
            <li>Obtenu le ....</li>
          </ul>
        </div>
      </accordion-group>

      <!-- Compétences -->
      <accordion-group [(isOpen)]="isSkillsOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">Compétences</div>
          <div style="width: 10.95px;">
            <div *ngIf="!isSkillsOpen" style="color: white;">></div>
            <div *ngIf="isSkillsOpen" style="color: white;">v</div>
          </div>
        </button>
        <div class="row"style="text-align: left">
          <div class="col">
            <h3>Languages:</h3>
            <ul>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>C#</li>
            </ul>
          </div>
          <div class="col">
            <h3>Framework:</h3>
            <ul>
              <li>Express</li>
              <li>Angular</li>
              <li>React</li>
            </ul>
          </div>
          <div class="col">
            <h3>Autres compétences:</h3>
            <ul>
              <li>CLI</li>
              <li>Développement agile</li>
              <li>...</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>

</div>
