.expe-content {
  max-width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px 5px;
  box-sizing: border-box;
  background-color: #0a0a0b;

  h2 {
    margin: 0;
    padding: 30px 10px 15px;
    background-image: linear-gradient(to bottom, #ffffff, #c7fcef, #43fcd1, #00ffc3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: clamp(1.5625rem, 1.2336rem + 1.7544vw, 2.8125rem);
    letter-spacing: 4px;
    text-align: center;
  }

  .btnCV {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding: auto;
    button {
      padding: auto;
      margin: 10px;
      width: 200px;
      height: 50px;
      color: #fafafa;
      background-color: #0a0a0b;
      border: 2px solid #5bfdd7;
      border-radius: 50px;
      &:hover {
        color: #5bfdd7;
        border: 3px solid #fafafa;
        font-weight: 700;
      }
    }
  }

  .contenu-exp {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 5%;

    .accordeon-content {
      display: flex;
      justify-content: center;
      min-width: 1000px;

      accordion-group{
        margin: 10px 0;

        &::ng-deep .card-header {
          background-color: #5bfdd7;
        }
        .accordeon-title{
          width: 100%;
          display: flex;
          justify-content: space-between;
          color: #0a0a0b;
          background-color: #5bfdd7;
          border: none;
          padding: 10px;
          font-size: clamp(1.125rem, 1.0099rem + 0.614vw, 1.5625rem);
          font-weight: 600;
          // text-shadow: 3px 2px 4px #0a0a0b;

          .card-title{
            margin: 0;
          }

          svg{
            filter: drop-shadow(2px 2px 1px #0a0a0b);
          }
        }
      }
      .bloc-expe{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        .titre-contenu, .titre-complement-contenu{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .titre-expe{
          font-size: clamp(1.125rem, 1.0428rem + 0.4386vw, 1.4375rem);
          font-weight: 800;
          margin: 0;
          padding : 15px 5px 5px;
          text-decoration: underline;
          text-decoration-color: #5bfdd7;
          text-underline-offset: 0.4em;
          text-decoration-thickness: 3px;
          a{
            text-decoration: none;
            color: #0a0a0b;
          }
        }
        .titre-indication{
          font-size: clamp(0.875rem, 0.7928rem + 0.4386vw, 1.1875rem);
          display: flex;
          margin: 0;
          padding : 10px 5px 5px;
          svg, p{
            margin: 2px;
          }
        }
        .contenu-txt{
          padding: 0;
          p{
            margin: 5px;
            span{
              font-weight: 900;
            }
          }
        }
      }
      .competences{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px 20px;

        .competences_contenu{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-top: 20px;

          h3{
            text-decoration: underline;
            text-decoration-color: #5bfdd7;
            text-underline-offset: 0.4em;
            text-decoration-thickness: 3px;
            padding-bottom: 10px;
          }
          ul{
            margin: 0;
            padding: 0;

            li{
              list-style-type: none;
            }
          }
          }
      }
    }
    @media screen and (min-width: 600px) and (max-width: 1100px) {
      .accordeon-content{
        min-width: 500px;
      }
    }
    @media (max-width: 600px) {
      .accordeon-content{
        min-width: 250px;
      }
    }


  }

}
