.card-content {
  width: 350px;
  min-height: 350px;
  padding: 2px;
  background-color: rgb(53, 53, 53);
  color: white;
  box-sizing: border-box;
  text-align: center;

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    box-sizing: border-box;

    .btn_detail_card{
      padding: auto;
      width: 100px;
      height: 40px;
      color: #c577b4;
      background-color: rgb(53, 53, 53);
      border: 2px solid white;
      border-radius: 50px;
      &:hover {
        color: white;
        border: 3px solid #c577b4;
        font-weight: 700;
      }
    }
  }

  .card-footer{
    background-color: rgb(32, 32, 32);
    box-sizing: border-box;

    .tags-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      min-height: 80px;
      padding: 2px;
    }
  }

}
@media screen and (max-width: 400px) {
  .card-content {
    width: 250px;
    margin: 5px;
  }
}
