<div class="contact-content">
  <h2>CONTACT</h2>








<!--   <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>Vous pouvez me contacter à cette adresse mail : <b>...@....com</b></p>
    <p>Vous pouvez, également, me contacter sur les différentes plateformes ci dessous :</p>
  </div>

  <div class="list-group shadow">
    <a href="https://www.linkedin.com/in/audrey-cannesson/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/logo-linkedin.png" alt="logo de LinkedIn" width="40" height="40" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-O">LinkedIn</h3>
    </a>
    <a href="https://github.com/AudreyCa" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/logo-github.png" alt="logo de GitHub" width="40" height="40" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-O">GitHub</h3>
    </a>
  </div> -->
</div>
