.contact-content {
  max-width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px 80px;
  box-sizing: border-box;
  background-color: var(--col-background);
  transition: background-color .6s ease-in-out;

  h2 {
    margin: 0;
    padding: 30px 10px;
    background-image: linear-gradient(
      to bottom,
      #fafafa,
      #9cb2e0,
      #4c80f1,
      #1858e2
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: clamp(1.5625rem, 1.2336rem + 1.7544vw, 2.8125rem);
    letter-spacing: 4px;
    text-align: center;
    white-space: pre-wrap;
    text-shadow: 1px 1px 1px var(--col-text-TCont);
  }

  .intro-contact,
  .intro-recommandations {
    padding: 5px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .accroche {
      font-size: clamp(1.125rem, 1.0428rem + 0.4386vw, 1.4375rem);
      margin-bottom: 0;
      padding: 5px 0 10px;
    }

    .reco {
      padding-top: 20px;
      margin-bottom: 10px;
    }
    .mailto {
      color: #4c80f1;
      text-decoration: none;
      margin-left: 10px;
      &:hover{
        color: #b9d3fa;
      }
    }
  }

  .icon-contact {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;
      text-decoration: none;
      color: #4c80f1;
      justify-content: center;

      svg {
        margin-right: 13px;
      }
      p,
      .mailto {
        margin: 0;
      }
      &:hover{
        color: #6fa2f0;
      }
    }
  }
}
