<div class="container_modal_projets">

  <div class="modal-header">
    <h2>{{projet.titre}}</h2>
    <button class="close_popup" (click)="bsModalRef.hide()">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
      </svg>
    </button>
  </div>

  <div class="modal-body">
    <carousel id="box-carousel">
      <div class="slides_container" *ngFor="let image of projet.images">
        <slide class="caroussel_content">
          <img src={{image}} alt="slide du projet" class="image-carousel">
        </slide>
      </div>
    </carousel>

    <div class="description">
      <h3>Description</h3>
      <p>{{projet.description}}</p>
      <div class="link">
        <ng-container *ngIf="projet.lienGit.length > 0;  else noLinkGit">
          <p> Dépôt GitHub: </p>
          <div *ngFor="let link of projet.lienGit">
            <a href={{link}} target="_blank">
              <p>ici</p>
            </a>
          </div>
        </ng-container>
        <ng-template #noLinkGit>
          <p>Pas de lien git disponible</p>
        </ng-template>
      </div>
      <div class="link">
        <ng-container class="link" *ngIf="projet.lienSite != '';  else noLinkSite">
          <p> Déploiement: </p>
          <a href={{projet.lienSite}} target="_blank">
            <p>ici</p>
          </a>
        </ng-container>
        <ng-template #noLinkSite>
          <p>Pas de lien de site disponible</p>
        </ng-template>
      </div>
    </div>

    <div class="modal-footer">
      <div *ngFor="let tag of projet.tags">
        <div class="tag">{{tag}}</div>
      </div>
    </div>
  </div>

</div>
