.portfolio-content {
  max-width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  padding: 10px 20px 5px;
  background-color: var(--col-background);
  transition: background-color .6s ease-in-out;

  h2 {
    margin: 0;
    padding: 10px 10px 25px;
    background-image: linear-gradient(
      to bottom,
      #ffffff,
      #be97b6,
      #af78a3,
      #c577b4
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: clamp(1.5625rem, 1.2336rem + 1.7544vw, 2.8125rem);
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px var(--col-text-TPort);
  }

  .btn-filtre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .btn_filtre_projets {
      padding: auto;
      margin: 10px;
      width: 150px;
      height: 50px;
      color: #fafafa;
      background-color: #0a0a0b;
      border: 2px solid #c577b4;
      border-radius: 50px;
      &:hover {
        color: #c577b4;
        border: 3px solid #fafafa;
        font-weight: 700;
      }
    }
  }

  .filtres {
    display: flex;
    justify-content: center;
    padding: 10px;

    form {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .form-check {
        margin: 0;
        padding: 5px;

        input[type="checkbox"] {
          display: none;
        }

        #checkTypescript:checked + #typescript_label, #checkJavascript:checked + #javascript_label, #checkCSharp:checked + #csharp_label, #checkNode:checked + #node_label, #checkExpress:checked + #express_label, #checkAngular:checked + #angular_label, #checkReact:checked + #react_label, #checkCSS:checked + #CSS_label, #checkAgile:checked + #agile_label {
          background-color: #5555556e;
        }

        label {
          width: 130px;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 1.5rem 1rem;
          border-radius: 20%;

          svg {
            height: 45px;
            width: 45px;
            padding-bottom: 5px;
          }
          p {
            margin: 0;
            font-size: clamp(0.75rem, 0.6184rem + 0.7018vw, 1.25rem);
          }
        }
      }
    }
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;

    .cards-project {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      margin: 5px;
    }
    @media screen and (max-width: 400px) {
      .cards-project {
        width: 250px;
        margin: 5px;
      }
    }
  }
}
