<nav class="navbar-expend-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/accueil" routerLinkActive="text-dark">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/experiences" routerLinkActive="text-dark">Expériences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
      </li>
    </ul>
  </div>
</nav>
