<div class="container">
  <div class="row">

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>A propos de moi</h2>
        <img src="../../assets/photo-de-profil.jpg" alt="photo de profil" width="250" height="250" class="rounded-circle">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla facilis inventore, voluptatibus culpa assumenda tenetur nihil dolorum dolore repellendus est obcaecati ex nam recusandae magni odio, velit animi veniam. Tempore eligendi ipsa aspernatur voluptatibus tempora ratione enim deleniti voluptas repellendus necessitatibus, totam iste voluptatem quibusdam. A sed ullam maiores soluta</p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Mes projets</h2>
        <h4>{{mesProjets.titre}}</h4>
      </div>

      <carousel>
        <div *ngFor="let image of mesProjets.images">
          <slide><img src={{image}} alt="slide du projet" style="display: block; width: 100%;"></slide>
        </div>
      </carousel>

      <p class="mt-2">{{mesProjets.resume}}</p>
      <p>Explorez la section "portfolio pour en savoir plus !</p>
    </div>

  </div>
</div>
