<div class="accueil-content">

      <div class="presentation">
        <img src="../../assets/photo-de-profil.jpg" alt="photo de profil">
        <h2> Bienvenue sur mon portfolio</h2>
        <p>Je m'appelle Audrey. Je suis conceptrice, développeuse d'applications. Je vous invite à parcourir mon portfolio afin de découvrir toutes les informations dont vous aurez besoin concernant mes compétences dans le web. <br>Bonne visite !</p>
      </div>

      <div class="button-contact">
        <button routerLink="/contact">Contactez-moi</button>
        <button (click)="DownloadCV()">Télécharger le CV</button>
      </div>

</div>




    <!-- <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Mes projets</h2>
        <h4>{{mesProjets.titre}}</h4>
      </div>

      <carousel>
        <div *ngFor="let image of mesProjets.images">
          <slide><img src={{image}} alt="slide du projet" style="display: block; width: 100%;"></slide>
        </div>
      </carousel>

      <p class="mt-2">{{mesProjets.resume}}</p>
      <p>Explorez la section "portfolio pour en savoir plus !</p>
    </div> -->
